---
import "@fontsource/inter";
import "@fontsource/inter/700.css";
import "@fontsource/rajdhani";
import "@fontsource/rajdhani/700.css";
import "../styles/global.css";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <SEO
      title={Astro.props.title
        ? `${Astro.props.title} - Ferron`
        : "Ferron - a fast, memory-safe web server written in Rust"}
      description={Astro.props.description}
      openGraph={{
        basic: {
          title: Astro.props.title
            ? `${Astro.props.title} - Ferron`
            : "Ferron - a fast, memory-safe web server written in Rust",
          type: "website",
          image: `${Astro.url.origin}${Astro.props.image || "/opengraph.png"}`
        }
      }}
      twitter={{
        card: "summary_large_image",
        site: "@ferron_web",
        title: Astro.props.title
          ? `${Astro.props.title} - Ferron`
          : "Ferron - a fast, memory-safe web server written in Rust",
        image: `${Astro.url.origin}${Astro.props.image || "/opengraph.png"}`,
        description: Astro.props.description
      }}
    />
  </head>
  <body class="flex flex-col min-h-screen">
    <slot />
  </body>
</html>

<script>
  // Matomo tracking code
  var _paq = ((window as any)._paq = (window as any)._paq || []);
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["disableCookies"]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);
  (function () {
    var u = "//analytics.ferronweb.org/";
    _paq.push(["setTrackerUrl", u + "matomo.php"]);
    _paq.push(["setSiteId", "1"]);
    var d = document,
      g = d.createElement("script"),
      s = d.getElementsByTagName("script")[0];
    g.async = true;
    g.src = u + "matomo.js";
    if (s.parentNode !== null) {
      s.parentNode.insertBefore(g, s);
    }
  })();
</script>
